@import url(http://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:400,600);

body {
  font-family: 'Open Sans', Arial;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::selection {
  background: rgba(20, 156, 135, .3);
}

.sharing {
  margin-top: 8px;
}

.subheader {
  background: -webkit-linear-gradient(rgb(171, 210, 237), rgba(214, 232, 245, .85));
  background: -moz-linear-gradient(rgb(171, 210, 237), rgba(214, 232, 245, .85));
  background: -o-linear-gradient(rgb(171, 210, 237), rgba(214, 232, 245, .85));
  background: -ms-linear-gradient(rgb(171, 210, 237), rgba(214, 232, 245, .85));
  background: linear-gradient(rgb(171, 210, 237), rgba(214, 232, 245, .85));
  
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.subheader h1 {
  font-size: 24px;
  font-weight: 600;
  color: black;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .05);
  
  padding: 0 6px;
  margin: 12px 0 6px 0;
  
  letter-spacing: -1px;
}
.subheader h1 img {
  width: 24px;
  height: 24px;
  
  position: relative;
  top: 2px;
  left: -4px;
  margin-right: -4px;
}

pre {
  font-family: 'Inconsolata';
  font-size: 14px;
  line-height: 20px;
  
  background: rgb(246, 246, 246);
  color: black;
  
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: 16px;
  padding: 6px 8px;
  border: 0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  -ms-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  position: relative;
  
  user-select: element;
  -moz-user-select: element;
  -ms-user-select: element;
  -webkit-user-select: text;
  -o-user-select: text;
  
  -webkit-transition: background 250ms;
}

#meat .row:hover pre {
  background: rgb(238, 238, 238);
  -webkit-transition: background 100ms;
  -moz-transition: background 100ms;
  -o-transition: background 100ms;
  -ms-transition: background 100ms;
  transition: background 100ms;
}

#meat h1 {
  color: rgb(20, 156, 135);

  margin-top: 40px;
  margin-bottom: 10px;

  font-size: 24px;
  line-height: 30px;
  
  font-weight: 400;
  position: relative;
}
#meat h1::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 30px;
  background: rgb(20, 156, 135);
  border-radius: 2px;
  left: -20px;
}

h2.section {
  color: rgb(20, 156, 135);
  
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

#meat {
  padding-top: 80px;
}

footer {
  background: -webkit-linear-gradient(rgb(171, 210, 237), rgb(214, 232, 245));
  background: -moz-linear-gradient(rgb(171, 210, 237), rgb(214, 232, 245));
  background: -ms-linear-gradient(rgb(171, 210, 237), rgb(214, 232, 245));
  background: -o-linear-gradient(rgb(171, 210, 237), rgb(214, 232, 245));
  background: linear-gradient(rgb(171, 210, 237), rgb(214, 232, 245));
}
footer ul {
  list-style: none;
}

.loading {
  margin-bottom: 100%;
}
.loading h1::before,
.loading h1::after {
  display: none;
}

.hidden {
  display: none;
}

.language-choice {
  margin-top: 15px;
}

.language-choice select {
  font-size: 20px;
  height: 35px;
}

/* Prettify section */

.pln {
  color: #000;
}

@media screen{
  .str, /* string content */
  .atv { /* a markup attribute value */
    color: rgb(0, 138, 53); 
  }  
  .kwd, /* a keyword */
  .tag { /* a markup tag name */
    color: rgb(0, 102, 204);
  }
  .com { /* a comment */
    color: rgb(127, 127, 127); 
  }  
  .lit { /* a literal value */
    color: rgb(127, 0, 0);
  }  
  .pun, /* punctuation, lisp open bracket, lisp close bracket */
  .opn, 
  .clo { 
    color: rgb(127, 127, 127); 
  }
  .typ, /* a type name */
  .atn, /* a markup attribute name */ 
  .dec, 
  .var { /* a declaration; a variable name */
    color: rgb(80, 40, 127);
  }
}
@media print,projection {
  .str { 
    color: #060;
  }
  .kwd {
    color: #006;
    font-weight: bold;
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
    font-weight: bold;
  }
  .lit {
    color: #044;
  }
  .pun,
  .opn,
  .clo { 
    color: #440;
  }
  .tag {
    color: #006;
    font-weight: bold;
  }
  .atn {
    color: #404
  }
  .atv {
    color: #060
  }
}